page-city {
  ion-card {
    position: relative;
    text-align: center;
  }
  .card-title {
    position: absolute;
    top: 10%;
    font-size: 1em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .card-subtitle {
    font-size: 0.5em;
    position: absolute;
    top: 30%;
    width: 100%;
    color: #fff;
  }
}
