page-read {
  .title {
    font-size: 2.0rem;
    color: #000;
  }
  .sec-title {
    font-size: 1.6rem;
    color: rgba(39, 39, 41, 0.753);
  }
  .sub-title {
    color: #666;
  }
  .img {
    padding-left: 0;
    margin-right: 0;
  }
  .test .label-md {
    margin-right: 0px;
  }
}
